<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="{% static 'css/addbook.css'%}">
</head>
<body>
<form method="POST">
  {% csrf_token %}
    <div class="container">
        <h1>Add a New Book</h1>
        <form id="bookForm">
            <label for="title">BookName:</label>
            <input type="text" id="title" name="bname" required>
            <label for="author">Author:</label>
            <input type="text" id="author" name="bauthor" required>
            <label for="price">Price:</label>
            <input type="number" id="price" name="bprice" required>
             <label for="image">Book Image:</label>
            <input type="file" id="image" name="bimage" accept="image/*" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="8"></textarea>

            <button type="submit">Add Book</button>
        </form>
    </div>

</form>
</body>
</html>

</body>
</html>